<nav class="navbar navbar-light bg-light sticky-top mb-3">
  <div class="container-fluid">
    <%= link_to "Wikinimous", articles_path , class: "navbar-brand" %>
    <%= link_to "New article", new_article_path %>
  </div>
</nav>